/* variables */
:root {
  --blue: #1792d2;
  --navy: #143774;
  --gray: #707070;
  --eggshell: #f8f8f8;
}

/* Fonts
  ---- 
  font-family: "Lora", serif;
  font-family: "Ubuntu", sans-serif;
*/

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: var(--gray);
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

/* =============
Typography 
================*/

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--navy);
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
}

a {
  color: var(--blue)
}

a:hover,
a:focus {
  color: var(--navy)
}

strong {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  color: var(--blue);
  font-size: .75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-continue-reading {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
}

.article-info {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 2em 0;
}

.article-continue-reading:hover,
.article-continue-reading:focus {
  color: var(--navy);
  text-decoration: underline;
}


/* =============
Layout
================*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  /* spaces out site-title div and nav div  */
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: var(--eggshell);
  text-align: center;
  padding: 2em 2em 0 2em;
  margin-bottom: 3em;
}

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /*text-align won't work because the li element is so small (it shrinks to the size of the text inside it, essentially) so text-align will appear like it does nothing*/
  padding: 0;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  /* :focus state is when you tab through elements */
  color: var(--blue)
}

.current-page {
  border-bottom: 1px solid var(--gray);
}

.current-page:hover {
  color: var(--gray);
}

/***** articles *****/

.article-featured {
  border-bottom: var(--gray) 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

/* rearranging the order for visual appeal */

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

/*======= Media Querries ========*/

@media (min-width: 700px) {
  
  /***** header and nav *****/
  
  header {
    padding: 2em 0;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    /* margin: 0 1em;  -- removing margin on the right lines up the list items with the edge of the container */ 
    margin-left: 2em;
  }

  .container-flex {
    flex-direction: row;
  }

  /***** main *****/

  main {
    width: 75%;
  }

  /***** aside *****/

  aside {
    width: 20%;
    margin: 1em;
  }

  .sidebar-widget {
    padding: 0 1em;
    border: 8px solid var(--gray);
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  .widget-body {
  
  }

  /***** articles *****/

  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 67%;
  }

  .article-recent-secondary {
    width: 30%;
  }

  article img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    /* object-position: left; */
  }

}