/* variables */
:root {
  --blue: #1792d2;
  --navy: #143774;
  --gray: #707070;
  --eggshell: #f8f8f8;
}

/* Fonts
  ---- 
  font-family: "Lora", serif;
  font-family: "Ubuntu", sans-serif;
*/

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: var(--gray);
}

img {
  max-width: 100%;
  display: block;
}

/* =============
Typography 
================*/

h1,
h2 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--navy);
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
}

.subtitle {
  font-weight: 700;
  color: var(--blue);
  font-size: .75rem;
  margin: 0;
}

.article-continue-reading {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
}

.article-info {
  font-size: 0.875rem;
  font-weight: 300;
}

.article-continue-reading:hover,
.article-continue-reading:focus {
  color: var(--navy);
}


/* =============
Layout
================*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container-nav {
  display: flex;
  /* spaces out site-title div and nav div  */
  justify-content: space-between;
  flex-direction: column;
}

header {
  background: var(--eggshell);
  text-align: center;
  padding-top: 2em;
}

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /*text-align won't work because the li element is so small (it shrinks to the size of the text inside it, essentially) so text-align will appear like it does nothing*/
  padding: 0;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  /* :focus state is when you tab through elements */
  color: var(--blue)
}

.current-page {
  border-bottom: 1px solid var(--gray);
}

.current-page:hover {
  color: var(--gray);
}

@media (min-width: 700px) {
  
  /* header and nav */
  
  header {
    padding: 2em 0;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    /* margin: 0 1em;  -- removing margin on the right lines up the list items with the edge of the container*/ 
    margin-left: 2em;
  }

  .container-nav {
    flex-direction: row;
  }

  /* main */

  .container {
    flex-direction: row;
    border: solid red;
  }

  main {
    margin-right: 1em;
  }


}